html{
    box-sizing: border-box;
    overflow: auto;
}
*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}
body{
    font-family: Dosis;
}
.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    height: 80px;
    padding-bottom: 10%;
    /*border: 5px solid #f8500d;*/
    background: #ffff;
}
#logo {
    width: 40%;
    line-height: 60px;
    padding-left: 30px;
}
#logo span{
    color: #f8500d;
}
#menu {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
ul.menu {
    float: right;
    margin-right: 20px;
    padding-left: 80px;
    padding-top: 30px;
}
ul.menu li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
ul.menu li a{
    color: #f8500d;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover,a.active{
    background: #090c0a;
    transition: .5s;
}
.order{
    width: 100%;
    height: 450px;
    background: #e5e9e7;
    margin-bottom: 10px;
    font-size: 28px;
    display: flex;
    padding-left: 300px;
    flex-direction: column;
    justify-content: center;
}
.contact-input input{
    width: 600px;
    height: 50px;
    border-radius: 20px;
    border-color: #f8500d;
    margin-left: 50px;
}
.contact-input #email{
    margin-left: 110px;
}
.contact-input #FullName{
    margin-left: 65px;
}
#delivery{
    height: 650px;
}
#payment a{
    color: #090c0a;
}
#payment a:hover{
    background: none;
}
.payment{
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 20px;
}
.payment a{
    color: #f8500d;
}
.payment button{
    width: 500px;
    height: 40px;
    color: #ffff;
    background: #f8500d;
}