html{
    box-sizing: border-box;
    overflow: auto;
}
*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: inherit;
}
body{
    font-family: Dosis;
}
.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    height: 80px;
    padding-bottom: 10%;
    /*border: 5px solid #f8500d;*/
    background: #ffff;
}
#logo {
    width: 40%;
    line-height: 60px;
    padding-left: 30px;
}
#logo span{
    color: #f8500d;
}
#menu {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
ul.menu {
    float: right;
    margin-right: 20px;
    padding-left: 80px;
    padding-top: 30px;
}
ul.menu li{
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}
ul.menu li a{
    color: #f8500d;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover,a.active{
    background: #090c0a;
    transition: .5s;
}
.checkbtn  {
    float: right;
    line-height: 80px;
    font-size: 30px;
    color: #ffff;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}
#check{
    display:none;  
}
.about{
    height: 150px;
    text-align: center;
}
.about h2{
    background: #f8500d;
    color: #ffff;
}
#Structure{
    height: 2400px;
}
.images{
    margin-bottom: 50px ;
}
.images img{
    width: 250px;
    height: 300px;
    border-radius: 80%;
    border: 10px solid #f8500d;
}
footer{
    /*border: 5px solid #372eb8;*/
    width: 100%;
    height: 420px;
    background-color: #f8500d;
    text-align: center;
    color: #ffff;
}
footer img{
    width: 2%;
}
footer a{
    text-decoration: none;
    color: #ffff;
}
#top{
    float: right;
}
@media screen and (max-width: 952px){
    h1{
        font-size: 20px;
        padding-left: 10px;
    }
    ul.menu li a{
        font-size: 13px;
    }
    .checkbtn{
        display: block;

    }
    ul{
        position: fixed;
        width: 100%;
        height: 60vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    ul.menu li{
        display:block;
        margin-top: 10px;
    }
    ul.menu li a{
        font-size: 20px; 
    }
    a:hover, a.active{
        background: none;
        color: #f8500d;
    }
    #check :checked ~ ul{
        left:0;
    }

}
@media screen and (max-width: 375px){
    h1{
        font-size: 13px;
        padding-left: 10px;
    }
    ul.menu li a{
        font-size: 13px;

    }
}